<table>
  <tbody>
    <tr>
      <th>Segment Write Key</th>
      <td>
        <input type="text" id="settings_segment_write_key" value="<%= settings['segment_write_key'] %>" name="settings[segment_write_key]" />
      </td>
    </tr>
  </tbody>
</table>
